* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    --text-color: rgb(30, 30, 30);
    --light-text-color: rgba(0, 0, 0, 0.55);
    --bkg-color: hsl(0, 0%, 96%);
    --link-color: rgb(0, 186, 81, .2);
    --link-hl-color: rgb(0, 186, 81);
    --btn-hl: rgb(0, 186, 81, .6);
    --btn-color: rgb(0, 186, 81, .2);
    --code-background: rgba(0, 0, 0, 0.06);
}

body.dark-theme {
    --text-color: rgb(188, 188, 188);
    --light-text-color: rgba(205, 205, 205, 0.55);
    --bkg-color: #161c2f;
    --link-color: rgb(0, 186, 81, .5);
    --code-background: rgba(0, 0, 0, 0.06);
}

/* Automatic switch to dark color scheme if device in dark mode */
@media (prefers-color-scheme: dark) {
    body {
        --text-color: rgb(188, 188, 188);
        --light-text-color: rgba(205, 205, 205, 0.55);
        --bkg-color: #161c2f;
        --link-color: rgb(0, 186, 81, .5);
        --code-background: rgba(0, 0, 0, 0.06);
    }

    body.light-theme {
        --text-color: rgb(30, 30, 30);
        --light-text-color: rgba(0, 0, 0, 0.55);
        --bkg-color: hsl(0, 0%, 96%);
        --link-color: rgb(0, 186, 81, .2);
        --link-hl-color: rgb(0, 186, 81);
        --btn-hl: rgb(0, 186, 81, .6);
        --btn-color: rgb(0, 186, 81, .2);
        --code-background: rgba(0, 0, 0, 0.06);
    }
}


body {
    background-color: var(--bkg-color);
    color: var(--text-color);
    font: 18px/28px body, Noto Sans, sans-serif;
    text-rendering: optimizeLegibility;
    margin: 50px auto;
}

/* noto-sans-regular - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/fonts/noto-sans-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/noto-sans-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-700 - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('/fonts/noto-sans-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/noto-sans-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-italic - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('/fonts/noto-sans-v12-latin-italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/noto-sans-v12-latin-italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-700italic - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 700;
    src: local(''),
        url('/fonts/noto-sans-v12-latin-700italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/noto-sans-v12-latin-700italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


pre,
code {
    font-family: mono, monospace;
}


.page {
    width: 600px;
    margin: 0 auto;
    padding: 0 0 0 2px;
}


.menu {
    width: 544px;
    margin: 0 auto 0;
    padding: 0 0 50px 0;
    vertical-align: top;
    display: flex;
}

.menu>li {
    list-style: none;
    margin: 0 1em 0 0;
    vertical-align: top;
}

.menu__item,
a.menu__item {
    color: var(--light-text-color);
    border-color: transparent;
    display: inline-block;
}

.menu__item_selected,
a.menu__item_selected,
a.menu__item:hover {
    color: var(--text-color);
    border-bottom: 2px solid var(--link-hl-color);
}

.menu__item_inside,
a.menu__item_inside {
    border-bottom: 2px solid var(--link-color);
}

.spacer {
    flex-grow: 1;
}

.review {
    margin: 0 0.5em 0 -2em;
}

.post {
    width: 544px;
    margin: 15px auto;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid var(--link-color);
}

a:hover {
    border-color: var(--link-hl-color);
}

p,
blockquote {
    margin: 15px 0;
}

h1+p+blockquote {
    margin-bottom: 30px;
    margin-right: 1em;
}

blockquote {
    padding-left: 1em;
    color: var(--light-text-color);
}

blockquote::before {
    content: "> ";
    float: left;
    margin: 0 0 0 -1em;
}


strong {
    font-weight: 700;
}

h1,
h2 {
    margin: 2.5em 0 0.5em;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.4em;
}

h1+h2 {
    margin: -0.75em 0 0.9em;
}

.title {
    font-size: 2.5em;
    line-height: 50px;
    margin: 1.5em 0 0.75em 0;
}

p>img,
.fig,
figure {
    margin: 2em 0;
}


/* dim images when in dark mode */
@media (prefers-color-scheme: dark) {
    img {
        filter: brightness(.8) contrast(1.2);
    }
}

img {
    max-width: 100%;
}

.fig,
figure {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    font-style: italic;
}

@media (min-width: 600px) {

    .fig,
    figure {
        width: 600px;
        margin-left: -28px;
        margin-right: -28px;
    }
}

.fig img,
figure>img,
figure>video,
figure>a>img {
    margin: 0 auto 1em;
    display: block;
    border-radius: 3px;
}

figure>video {
    max-width: 100%;
}

.label {
    text-align: center;
    font-size: 12px;
    font-style: italic;
    margin: -1em 0 1em 0;
}

code {
    font-style: normal;
    background: var(--code-background);
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 17px;
}

pre {
    font-size: 16px;
    background: var(--code-background);
    padding: 16px 30px 14px;
    margin: 1em -30px;
    border-radius: 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-style: normal;
}

pre>code {
    background: none;
    padding: 0;
    font-size: inherit;
    white-space: unset;
}

ul {
    padding: 0 0 0 1em;
    list-style-type: square;
}

ul>li,
ol>li {
    margin: 0.5em 0;
}

sup,
sub,
.note-ref,
.note-number {
    vertical-align: baseline;
    position: relative;
    font-size: .7em;
    line-height: 1;
}

sup,
.note-ref,
.note-number {
    bottom: 1.4ex;
}

sub {
    top: .5ex;
}


.btn {
    line-height: 30px;
    text-decoration: none;
    background: var(--btn-hl);
    border: none;
    font-size: 1rem;
    padding: 0px 7px 0px;
    display: inline-block;
    border-radius: 4px;
    position: relative;
    top: -1px;
}

.btn:hover {
    background: var(--btn-color);
}

.btn>svg {
    width: 21px;
    height: 21px;
    vertical-align: bottom;
    margin: 0 -2px 0 -5px;
}

.footnote {
    margin: 0 5px;
}

.footnotes-br {
    width: 100px;
    height: 2px;
    background: var(--code-background);
    margin-top: 5em;
}

.footnotes>ol {
    padding-left: 1em;
}

.notes {
    font-size: 0.8em;
}

.note-number {
    margin-left: -1em;
}

.date {
    color: var(--light-text-color);
    font-size: 14px;
    margin-left: 4px;
}
