<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">

    <meta name="viewport" content="width=640">
    <link href="/i/favicon.png" rel="icon" sizes="32x32">

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>{{ .Title }}</title>

    <meta name="author" content="{{ .Site.Params.firstname }} {{ .Site.Params.lastname }}">
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:url" content="{{ .RelPermalink }}">
    <meta property="og:site_name" content="{{ .RelPermalink }}">
    <meta property="profile:first_name" content="{{ .Site.Params.firstname}}">
    <meta property="profile:last_name" content="{{ .Site.Params.lastname }}">
</head>
