{{ define "main" }}
<div class="post">
    <h1 class="title">{{ .Title }}</h1>
    {{ .Content }}


    <h2>Recent <a href="/publications/">Publications</a></h2>
    {{ $pubs := where .Site.RegularPages "Section" "publications" }}
    {{ range first 5 $pubs.ByDate.Reverse }}
    {{- $date := dateFormat "Jan, 2006" .Date }}
    <p>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a> <span class="date">{{ .Params.publication }} ({{ $date }})</span>
    </p>
    {{ end }}

    <h2>Recent <a href="/blog/">Posts</a></h2>
    {{ $posts := where .Site.RegularPages "Section" "blog" }}
    {{ range first 5 $posts.ByDate.Reverse }}
    {{- $date := dateFormat "Jan 2, 2006" .Date }}
    <p>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a> <span class="date"> {{ $date }}</span>
    </p>
    {{ end }}
</div>
{{ end }}
