{{ define "main" }}
<div class="post">
    <p>These are my works at various stages of completion: </p>
    <p>
        &#129466; Working Paper &mdash; &#x1F52C; Under Review &mdash; ⭐️ Starred
     <p>
    {{ .Content }}
    {{ range .Pages.GroupByDate "2006" }}
    <h3> {{ .Key }}</h3>
    {{ range .Pages }}
    {{- $date := dateFormat "Jan 2006" .Date }}
    <p>
        {{ if eq .Params.stage "working-paper" }}
        <span class='review' title='Working Paper'>🦺</span>
        {{ else if eq .Params.stage "under-review" }}
        <span class='review' title='Revision Requested'>🔬</span>
        {{ else if eq .Params.stage "starred" }}
        <span class='review' title='Starred'>⭐️</span>
        {{ end }}

        <a href="{{ .RelPermalink }}">{{ .Title }}</a> <span class="date"><em>{{ .Params.publication }}</em> - {{ $date }}</span>
    </p>
    {{ end }}
    {{ end }}
</div>
{{ end }}
