{{ define "main" }}
<div class='post'>
    <h1 style="hyphens: auto;" class='title'>{{ .Title }}</h1>
    <h2>{{ .Params.publication }} ({{ dateFormat "2006" .Params.date }})</h2>
    <h3>with <em>{{ delimit .Params.authors ", " " and "}}</em></h3>


    {{ with .Params.doi }}
    {{ $doiurl := print "https://doi.org/" . }}
        {{ if in . "http" }}
            {{ $doiurl = . }}
        {{ end }}
    <a class="btn" href="{{ $doiurl }}">DOI Link</a>
    {{ end }}


    {{ with .Params.arxivid }}
    {{ $arxivurl := print "https://doi.org/abs/" . }}
    {{ if in . "http" }}
    {{ $arxivurl = . }}
    {{ end }}
    <a class="btn" href="{{ $arxivurl }}">arXiv</a>
    {{ end }}

    {{ $pdf := .Resources.GetMatch "*.pdf" }}
    {{ with $pdf }}
    <a class="btn" href='{{ .RelPermalink }}' download>PDF</a>
    {{ end }}

    {{ $bibfile := .Resources.GetMatch "*.bib" }}
    {{ with $bibfile }}
    <a class="btn" href='{{ .RelPermalink }}' download>Bibtex</a>
    {{ end }}

    <p></p>

    {{ $images := .Resources.ByType "image" }}
    {{ with $images}}
    {{ $image := (index . 0)}}
    <img src="{{ $image.RelPermalink }}">
    {{ end }}


    {{ with .Content }}
    {{ . }}
    {{ end }}

    {{ with .Params.abstract }}
    <h3>Abstract</h3>
    <p>{{ . }}</p>
    {{ end }}


</div>
{{ end }}
