{{ define "main" }}
<div class='post'>

    <h1 style="hyphens: auto;" class='title'>{{ .Title }}</h1>
    <h2>{{ .Params.publication }} ({{ dateFormat "2006" .Params.date }})</h2>
    <h3>with <em>{{ delimit .Params.authors ", " " and "}}</em></h3>

    {{ partial "publication_buttons" . }}

    {{ $images := .Resources.ByType "image" }}
    {{ with $images}}
    {{ $image := (index . 0)}}
    <figure>
        <img src="{{ $image.RelPermalink }}">
    </figure>
    {{ end }}

    {{ with .Content }}{{ . }}{{ end }}

    {{ with .Params.abstract }}
    <h3>Abstract</h3>
    <p>{{ . }}</p>
    {{ end }}

</div>
{{ end }}
